[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#999999
ActiveTextColor=#f47500
DisabledTextColor=#464646
PaintedTextColor=#241100

ReversedTextColor=#000000
ReversedSecondaryTextColor=#555555
ReversedActiveTextColor=#f47500
ReversedDisabledTextColor=#959595
ReversedPaintedTextColor=#ffffff

DefaultBackgroundColor=#101010
DarkerBackgroundColor=#000000
ReversedBackgroundColor=#ffffff
SelectionColor=#f47500
ReversedSelectionColor=#f47500

ContentBackgroundColor=#000000
ContentFrameColor=#000000
ContentSelectionColor=#ffffff

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#666666

AccentColor1=#ff9a3d
AccentColor2=#bf5b00
AccentColor3=#bf5b00
AttentionColor=#e3002a

NotificationBackgroundColor=#efcb00
NotificationTextColor=#491b03
NotificationSecondaryTextColor=#783800
